* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Colors */
  --primary200: #f7cece;
  --primary100: #f8d7d7;
  --secondary: #a5ddde;
  --grey200: #c9c9c9;

  /* Font-sizes */
  --h1: 68px;
  --h2: 42px;
  --h3: 28px;
  --h4: 16px;
  --p_large: 18px;
  --p: 16px;
  --p_small: 14px;
  --caption: 12px;
}

@font-face {
  font-family: "aileron_light";
  src: url(../fonts/Aileron-Light.woff2);
}

@font-face {
  font-family: "aileron_regular";
  src: url(../fonts/Aileron-Regular.woff2);
}

@font-face {
  font-family: "aileron_semibold";
  src: url(../fonts/Aileron-SemiBold.woff2);
}
