footer {
  width: 100%;
  background-color: #1c1c1c;
  min-height: 368px;
  color: white;
}

.footer_content {
  min-height: 290px;
  display: flex;
  margin-bottom: 50px;
}

.content_links,
.social_media {
  display: flex;
  flex: 50%;
}

.footer_list,
.social_media_list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 0;
}

.content_links {
  padding-left: 30px;
  padding-top: 20px;
}

.footer_list li a {
  text-decoration: none;
  color: var(--grey400);
  font-size: var(--h4);
  font-family: "aileron_regular";
}

.social_media {
  padding-top: 20px;
  justify-content: space-evenly;
  padding-left: 40px;
}

.footer_logo h3 {
  font-family: "aileron_semibold";
  font-size: var(--h3);
  color: var(--grey200);
  text-align: center;
}

.bottom_footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px;
  position: relative;
  color: var(--grey300);
  padding-left: 10px;
  padding-right: 10px;
}
.copyright,
.copyright_text {
  padding-top: 6px;
}

.copyright {
  font-size: var(--p_small);
  font-family: "aileron_regular";
  color: var(--grey300);
}

.copyright_text {
  font-size: var(--p);
  font-family: "aileron_regular";
  color: var(--grey300);
}

.arrow_footer {
  margin-bottom: 15px;
}

.arrow_footer button {
  background-color: black;
  border: none;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .bottom_footer {
    padding-left: 20px;
    padding-right: 20px;
  }
  .content_links {
    justify-content: center;
    padding-left: 0;
    padding-right: 10px;
  }

  .social_media {
    padding-left: 0;
  }

  .arrow_footer {
    padding-right: 20px;
  }
}

@media screen and (min-width: 1024px) {
  footer {
    min-height: 300px;
  }

  .footer_content {
    min-height: 200px;
  }
  .content_links {
    padding-right: 0;
  }
  .social_media_list,
  .footer_list {
    flex-direction: row;
  }

  .footer_list {
    padding-right: 100px;
  }

  .social_media_list {
    padding-left: 100px;
  }

  .social_media_list a,
  .footer_list a {
    padding: 20px;
  }

  .footer_logo h3 {
    font-size: var(--h2);
    position: absolute;
    left: 350px;
  }

  .footer_logo {
    padding-bottom: 0.5px;
  }

  .copyright_text {
    padding-right: 750px;
  }
}

@media screen and (min-width: 1440px) {
  .footer_list {
    padding-right: 300px;
  }

  .social_media_list {
    padding-left: 300px;
  }

  .footer_logo h3 {
    left: 550px;
  }

  .copyright_text {
    padding-right: 1150px;
  }
}
