.intro_container {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 400px;
}

.intro_text {
  min-height: 200px;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 40px;
}

.intro_text h3 {
  font-size: var(--h3);
  font-family: "aileron_semibold";
}

@media screen and (min-width: 1440px) {
  .intro_container {
    min-height: 510px;
    flex-direction: row;
  }
  .intro_text,
  .intro_image {
    display: flex;
    flex: 50%;
  }

  .intro_text {
    text-align: start;
    padding: 10px;
    margin-left: 150px;
  }

  .intro_text h3 {
    font-size: var(--h2);
    line-height: 48px;
  }
}
