.sign_up_container {
  height: 100vh;
  width: 100%;
  /* background-color: black; */
}
.sign_up_background {
  width: 100%;
  height: 388px;
  background: black;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.sign_up_content {
  color: white;
  width: 286px;
  height: 168px;
}
.sign_up_content h3 {
  font-family: sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.005em;
  margin-bottom: 16px;
  margin-top: 28px;
}

.form {
  position: relative;
}
form input {
  height: 48px;
  width: 305px;
  font-family: Aileron;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.005em;
  padding-left: 16px;
}
.right_arrow {
  position: absolute;
  right: 32px;
  top: 8px;
}
.b7_container {
  height: 376px;
  width: 100%;
}
.b7_container img {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}

@media only screen and (min-width: 768px) {
  .sign_up_content {
    width: 305px;
    height: 200px;
    margin-top: 72px;
  }
  .sign_up_background {
    width: 100%;
    height: 468px;
  }
  .sign_up {
    width: 305px;
    padding: 0px;
    margin: 0px;
    padding-bottom: 44px;
  }
  form input {
    height: 48px;
    width: 305px;
  }
}
@media only screen and (min-width: 1024px) {
  .sign_up_container {
    height: 568px;
  }
  .sign_up_background {
    width: 100%;
    height: 568px;
  }
  .sign_up_content {
    font-family: Aileron;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    width: 446px;
    height: 212px;
    margin-top: 132px;
  }
  .sign_up_content h3 {
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.015em;
    text-align: center;
    margin-top: 0px;
  }
  .sign_up {
    width: 446px;
  }
  form input {
    width: 422px;
  }
  .b7_container {
    height: 450px;
    width: 100%;
  }
}
