.sign_up_container {
  min-height: 750px;
  width: 100%;
  color: white;
}
.sign_up_flex {
  position: relative;
  width: 100%;
  height: 388px;
  padding-top: 52px;
  padding-bottom: 64px;
  background: #1c1c1c;
}
.grid_2 img {
  position: absolute;
  height: 388px;
  top: 0px;
  right: 0px;
}
.sign_up_top_content {
  width: 289px;
  height: 200px;
  display: flex;
  padding-top: 52px;
}
.sign_up_header {
  font-family: "aileron_semibold";
  width: 289px;
  height: 64px;
  left: 0px;
  top: 0px;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: -0.005em;
  margin-left: 40px;
}
.sign_up_header .sign_up_text {
  font-family: "aileron_light";
  width: 289px;
  height: 120px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin-left: 40px;
  margin-top: 16px;
}
.form {
  position: relative;
  width: 305px;
  margin-left: 32px;
  margin-top: 24px;
}
form input {
  height: 48px;
  width: 100%;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.005em;
  padding-left: 16px;
}
.form_svg {
  cursor: pointer;
}
.right_arrow {
  position: absolute;
  top: 8px;
  right: 16px;
}
.b7_container {
  height: 376px;
  width: 100%;
}
.b7_container img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  object-position: top;
}

.seven {
  display: none;
}
@media only screen and (min-width: 768px) {
  .sign_up_flex {
    height: 450px;
    padding-top: 65px;
    padding-bottom: 67px;
  }
  .grid_2 img {
    position: absolute;
    height: 450px;
    top: 0px;
    right: 0px;
  }
  .sign_up_top_content {
    width: 399px;
    height: 248px;
  }
  .sign_up_header {
    width: 399px;
    height: 96px;
    line-height: 48px;
    margin-left: 160px;
    letter-spacing: -0.015em;
  }
  .sign_up_text {
    width: 399px;
    height: 128px;
    font-size: 18px;
    line-height: 32px;
    margin-left: 160px;
    margin-top: 24px;
  }
  .form {
    width: 399px;
    margin-left: 160px;
    margin-top: 16px;
  }
  form input {
    font-size: 18px;
  }
  .b7_container {
    height: 574px;
  }
}
@media only screen and (min-width: 1024px) {
  .grid_2 img {
    position: absolute;
    height: 420px;
    top: 0px;
    right: 0px;
  }
  .sign_up_flex {
    height: 420px;
  }
  .sign_up_header {
    margin-left: 299px;
  }
  .sign_up_text {
    width: 446px;
    margin-left: 299px;
  }
  .form {
    width: 442px;
    margin-left: 299px;
  }
  .b7_container {
    height: 400px;
  }

  .seven {
    display: block;
  }

  .seven_mobile {
    display: none;
  }
}
@media only screen and (min-width: 1224px) {
  .sign_up_flex {
    height: 568px;
    padding-top: 130px;
    padding-bottom: 134px;
  }
  .grid_2 img {
    position: absolute;
    height: 568px;
    top: 0px;
    right: 0px;
  }
  .sign_up_top_content {
    width: 446px;
    height: 248px;
  }
  .sign_up_header {
    width: 450px;
    height: 96px;
    left: 0px;
    font-style: normal;
    font-weight: bold;
    letter-spacing: -0.015em;
    margin-left: 499px;
  }
  .sign_up_text {
    width: 446px;
    height: 128px;
    left: 0px;
    top: 128px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    margin-left: 499px;
    margin-top: 24px;
  }
  .form {
    position: relative;
    margin-left: 499px;
    margin-top: 8px;
    width: 442px;
    height: 48px;
    color: #797979;
    border: 1px solid #000000;
  }
  form input {
    height: 48px;
    width: 100%;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.005em;
    padding-left: 16px;
  }

  .b7_container {
    height: 450px;
  }
  .b7_container img {
    object-fit: cover;
    object-position: bottom;
  }
}
