* {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
}

nav {
  display: flex;
  justify-content: space-between;
  position: absolute;
  z-index: 999;
  width: 100%;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.hamburger {
  padding: 10px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.hero {
  display: flex;
  align-items: center;
}

.hero-image img {
  position: relative;
}

.hero-text svg {
  position: absolute;
  z-index: 999;
  margin-left: 25px; /* Göra på ett annat sätt för att få mitt i */
}

.hero-text {
  display: flex;
  align-items: center;
}

.text-section {
  width: 375px;
  height: 432px;
  display: flex;
  justify-content: center;
}

.interior-text {
  display: flex;
  align-items: center;
  line-height: 1.5rem;
  margin: 10px;
  text-align: center;
}

.interior-text p {
  display: flex;
  align-items: center;
}

.parts {
  position: relative;
  height: 800px;
}

.b6 img {
  position: absolute;
  top: 40px;
}

.b7 img {
  position: absolute;
  right: 16px;
  top: 272px;
}
.b8 img {
  position: absolute;
  top: 499px;
  left: 24px;
}

.b6-text h2 {
  position: absolute;
  right: 46px;
  top: 40px;
  writing-mode: vertical-rl;
}

.b7-text h2 {
  position: absolute;
  left: 30px;
  top: 328px;
  writing-mode: vertical-lr;
  transform: scale(-1);
}

.b8-text h2 {
  position: absolute;
  right: 22px;
  top: 613px;
  writing-mode: vertical-rl;
}

.sign-up-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  width: 375px;
  height: 272px;
}

input[type="email"] {
  border: 0px;
  border-radius: 0;
  background-color: lightgray;
  width: 304px;
  height: 32px;
  padding: 10px;
}

input[type="submit"] {
  border: 0;
  border-radius: 0;
  background-color: lightgray;
  width: 111px;
  height: 44px;
}

.submit {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
