* {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.hero_image1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/images/c1.jpeg);
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero_image2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/images/c2.jpeg);
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero_text {
  text-align: center;
  position: absolute;
  width: 100%;
  top: 106%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
